{% include 'sitio/cabecera.html' %}

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div
                class="h-100 p-5 text-white bg-primary border rounded-3">
                <h2>Bienvenido</h2>
                <p>Empezar con nuestro sitio web.</p>
                <button class="btn btn-outline-primary" type="button">Example button</button>
            </div>
        </div>
        <div class="col-md-6">
            <div
                class="h-100 p-5 bg-primary border rounded-3">
                <h2>Empezar con Nuestro Sitio Web</h2>
                <p>Libros.</p>
                <button class="btn Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
                    mix and match with additional component themes and more." type="button">Example button</button>
            </div>
        </div>
    </div>
{% include 'sitio/pie.html' %}
  